---
---
<style>ol.bibliography li { list-style: none }</style>

<script>
function myFunction(input) {
  var x = document.getElementById(input);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>


<style>
details > summary {
  padding: .5em .75em;
  width: 7em;
  cursor: pointer;
}

details > p {
  padding: .5em .75em;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
  font-size: .8rem;
  text-align: justify;
  text-justify: inter-word;
}


details > pre {
  font-size: .8rem;
  white-space: pre-wrap; 
  word-break: break-word;
  padding: 1.125em;
  line-height: 1.11;
  margin-bottom: 0.88em;
}


button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #386e7e;
  cursor: pointer;
}

button:hover {
  color: #0076df
}

.title {
  font-weight: bold;
}




</style>


<!-- <div class="text-justify"> -->
<!--     {{reference}} -->
<!-- </div> -->

<!-- title --> 
<div class="title">  {{ entry.title }}</div>
<!-- authors --> {% for author in entry.author_array %}{% if forloop.length == 1 %}{{author.first}} {{author.last}}. {% else %}{% unless forloop.last %}{{author.first}} {{author.last}}, {% else %}and {{author.first}} {{author.last}}. {% endunless %}{% endif %} {% endfor %}

<!-- how published --> {% if entry.howpublished %} {{entry.howpublished}}, {% endif %} {% if entry.booktitle %} {{entry.booktitle}}, {% endif %} {% if entry.journal %} <i>{{entry.journal}}</i>, {% endif %} {% if entry.volume %} {{entry.volume}}, {% endif %} {% if entry.pages %} p. {{entry.pages}}, {% endif %} {% if entry.publisher %} {{entry.publisher}}, {% endif %} {% if entry.note %} {{entry.note}}, {% endif %} {{entry.year}}. 




{% if entry.note %}
<div>
    <em>{{ entry.note }}</em>
</div>
{% endif %}

<div>
    {% if entry.pdf %}
    <!-- <span  style="margin-right:0.5rem" > -->
      <a href="{{ entry.pdf }}">PDF</a>
    <!-- </span> -->
    {% endif %}

    {% if entry.poster %}
    <!-- <span  style="margin-right:0.5rem" > -->
      | <a href="{{ entry.poster }}">POSTER</a>
    <!-- </span> -->
    {% endif %}

    {% if entry.link %}
      <span  style="margin-right:0.5rem" ><a href="{{link}}">PDF</a></span> 
    {% endif %}


    {% if entry.url %}
    <span  style="margin-right:0.5rem"  ><a href="{{ entry.url }}">LINK</a></span>
    {% endif %}

    {% if entry.video %}
    <!-- <span  style="margin-right:0.5rem"  > -->
      | <a href="{{ entry.video }}">VIDEO</a>
    <!-- </span> -->
    {% endif %}

    {% if entry.youtube %}
    <!-- <span  style="margin-right:0.5rem"> -->
           | <a href="https://www.youtube.com/watch?v={{ entry.youtube }}">VIDEO</a>
    <!-- </span> -->
    {% endif %}


    {% if entry.webpage %}
    <!-- <span  style="margin-right:0.5rem"> -->
      | <a href="{{ entry.webpage }}">WEBPAGE</a>
    <!-- </span> -->
    {% endif %}



{% if entry.abstract %} 
| <button onclick="myFunction('{{entry.key}}_abstract')">ABSTRACT</button>
{% endif %} 
| <button onclick="myFunction('{{entry.key}}_bibtex')">BIBTEX</button>

{% if entry.abstract %} 
<div id="{{entry.key}}_abstract" style="display: none">
  <p>{{ entry.abstract }}</p>
</div>
{% endif %} 


<div id="{{entry.key}}_bibtex" style="display: none">
  <pre>{{ entry.bibtex }}</pre>
</div>









</div>

<!-- <div> -->
<!--     {% if entry.abstract %} -->
<!-- <details> -->
<!--   <summary>Abstract</summary> -->
<!--   <p>{{ entry.abstract }}</p> -->
<!-- </details> -->
<!--     {% endif %} -->
<!-- </div> -->

<!-- <div> -->
<!-- <details> -->
<!--   <summary>Bibtex</summary> -->
<!--   <pre>{{ entry.bibtex }}</pre> -->
<!-- </details> -->
<!-- </div> -->



<br>



